 h2 {
 	font-size: 40px; 
 	font-family: sans-serif; 
 	letter-spacing: 1px; 
 	color: #000; 
 	font-weight: bold;
 	margin-bottom: 30px;
 }

 .main-content {
 	width: 100%;
	max-width: 1000px;
	margin: 0 auto;
 }

.animal-list > div {
	display: inline-block;
	width: 49%;
	margin-bottom: 20px;
}

.animal-list button {
	font-size: 20px;
	font-family: sans-serif; 
	color: #fff; 
	font-weight: bold; 
	width: 100%;
	max-width: 300px; 
	padding: 20px 0; 
	border-radius: 5px; 
	border: 1px solid #2196F3; 
	background: #2196F3;
}
.animal-list button:hover {
	background: #7abcf1;
	border: 1px solid: ;: #7abcf1;

}

.pop { 
	display: none;
	background: rgb(0,0,0,.7);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;

}
.pop > div {
	position: absolute; 
	top: 0; 
	bottom: 0; 
	right: 0; 
	left: 0; 
	margin: auto; 
	max-width: 1000px; 
	height: 500px; 
	width: 100%; 
	padding: 20px; 
	background: #fff;
	overflow-y: scroll;
}

.pop .close {
	position: absolute;
    right: 25px;
    top: 35px;
    font-size: 31px;
    display: block;
    width: 50px;
    text-align: center;
    text-decoration: none;
    background: #d3d3d3;
    border-radius: 50%;
    padding: 5px 0 9px;
	
}

.pop h3 {
	font-size: 30px;
	letter-spacing: 1px; 
	font-family: sans-serif; 
	color: #000; 
	margin: 0;
	padding: 10px;
}

.pop ul {padding: 10px;  background: #fff;}

.pop li {
	font-size: 18px;
	letter-spacing: 1px; 
	font-family: sans-serif; 
	color: #000; 
	border: 1px solid #d3d3d3; 
	padding: 10px;
	margin: 0 0 10px 0; 
	border-radius: 5px;
	list-style: none;
}


@media (max-width: 450px){

  .animal-list > div {
  	display: block;
  	width: 100%;
  	margin: 0 auto 20px;
  }
  .animal-list button {
  	display: block; 
  	margin: 0 auto;
  }

  .pop { 
  	width: 80%;
  	height: 300px;
  }

}
